<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<header>
  <img src="./assets/pokedex-header.png" alt="pokedex">
  <div></div>
</header>
<body>


  <%= yield %>

</body>
</html>
